.profile {
    position: relative;
    width: 100%;
    height: 2000px;
    border: 3px solid black;
    border-top: none;
    
    
}

.timeline {
    position: absolute;
    margin:auto;
    background-color: #FAF9F6;
    z-index: 2;
}

.user-more {
    position: absolute;
    width: 90%;
    height: 100%;
    top: 350px;
    left: 50px;
    margin: auto;
    /* background-color: #FAF9F6; */
    background-color: blanchedalmond;
    
    z-index: 1;
}

.profile-picture {
    position: absolute;
    background-color: rgba(191,191,191,0.3);
    width: 200px;
    height: 200px;
    top: 140px;
    left: 100px;
    border-radius: 50%;
    border: 4px solid white;  
}

#profile-picture {
    position: absolute;
    width: 192px;
    height: 192px; 
    
    
    border-radius: 50%;
}

#users-img {
    position: absolute;
    width: 192px;
    height: 192px; 
    border-radius: 50%;
    z-index: 100;
}

.profile-picture:hover {
    border: 4px solid black;

}

#photoicon {
    width: 35px;
    position: absolute;
    top: 155px;
    left: 85px;
    display: none;
    transform-origin: center center;
    z-index: 2000;
    /* background-color: white;
    border-radius: 10px; */
}

#photoicon:hover {
    top: 150px;
    transform: scale(1.2);
}
.profile-username {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 675px;
    top: 225px
}


.about-you-header {
    position: absolute;
    right: 300px;
    
    
}

.profile-about-you {
    position: relative;
    background-color: blueviolet;
    width: 300px;
    height: 100px;
    left: 400px;
    top: 25px;
}

.interests-header {
    position: absolute;
    right: 250px;
    top: 200px;
}

.profile-interests {
    position: relative;
    background-color: blueviolet;
    width: 300px;
    height: 100px;
    left: 400px;
    top: 125px;
}

.profile-username-text {
    
    background-color: #164B60;
    color: white;
    font-size: 30px;
    display:flex;
    justify-content: center;
    margin-top: 26px;
}

.set-image-window {
    
    position: absolute;
    width: 500px;
    height: 300px;
    z-index: 999;
    margin-top: 200px; 
    margin-left: 200px; 
    

}

.set-image-content {
    position: absolute;
    width:500px;
    height: 300px;
    background-color: white;
    left: 50px;
    top: 50px;
    margin: auto;
    border-radius: 3px;
    border: 2px solid black;
    
}


.profile-picture-buttons {
    top: 200px;
    margin-left: 250px;
    position:absolute;
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    font-family: 'Work Sans', sans-serif;

}

#save-image {
    margin-top: 10px;
    height:25px;
    width: 55px;
    color: black;
    font-size: 13px;
    display: none;
}

#delete-image {
    margin-top: 55px;
    margin-left: 55px;
    height:25px;
    width: 55px;
    color: black;
    font-size: 12px;
    padding-left: 2px;
    display: none;
    background-color: white;
    font-weight: bold;
    padding-top: 3px;
    font-family: 'Caprasimo', cursive;
    
    
    
}

#submit-img-btn {
    position:absolute;
    left: 200px;
    top: 80px;
    background-color: white;
    border: none;
    outline: none;
    display:none;

    border-radius: 5px;
    height: 25px;
    width: 55px;
    color: black;
    font-size: 13px;
    padding-left: 2px;
}


.error-popup {
    margin-top: 400px;
    margin-left: 275px;
    width: 425px;
    height: 200px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    z-index: 8888;
    /* border: 2px solid black */

}

#exit_btn {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 405px;
}

#exit_btn:hover {
    transform: scale(1.1);
}

.error_message_img_insert {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    margin-top: 100px;
    color: red;
    
    
}


.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: 1000px;
    width: 100%;
    z-index: 8887;
    
    display: none;
}



.send-message {
    margin-left: 850px;
    margin-top: 20px;
    width: 130px;
    height: 35px;
    position: absolute;
    border-radius: 3px;
    font-size: 14px;
    background-color: rgba(191,191,191,0.3);
    
}

.text-area-btn-div
{
    margin-left: 850px;
    margin-top: 20px;
    width: 130px;
    height: 35px;
    position: absolute;
    border-radius: 3px;
    font-size: 14px;
    background-color: rgba(191,191,191,0.3);
}

.add-profile-desc{
    margin-left: 850px;
    margin-top: 20px;
    position: absolute;
    background-color: rgba(191,191,191,0.3);
    border-radius: 3px;
    width: 130px;
    height: 35px;
  }


.send-message:hover {
    background-color: rgba(191,191,191,0.6);
}


.add-friend {
    width: 130px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 3px;
    margin-left: 850px;
    margin-top: 75px;
    background-color: rgba(191,191,191,0.3); 
    cursor: pointer;
}

#text-add-description
{
    /* background-color: blue; */
}

.delete-friend-div {
    width: 130px;
    height: 25px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 850px;
    margin-top: -210px;
    background-color: rgba(191,191,191,0.3);
    font-size: 13px;
    cursor: pointer;

}

#accept-friend-img {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.accept-friend-div {
    width: 130px;
    height: 25px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 850px;
    margin-top: -240px;
    background-color: rgba(191,191,191,0.3);
    font-size: 13px;
    cursor: pointer;
}

.accept-friend-div:hover {
    background-color: rgba(191,191,191,0.6);
    cursor: pointer;                        
}

.delete-friend-div:hover {
    background-color: rgba(191,191,191,0.6);
    cursor:pointer;
}

#delete-friend-img {
    width: 25px;
    height: 25px;
}

.add-friend:hover {
    background-color: rgba(191,191,191,0.6);
    cursor: pointer;
}

#icon-add-friend {
    width: 25px;
    height: 25px;
    /* position:absolute; */
    margin-right: 0px;
}

#icon-arrow-down {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: 115px; 
}

#icon-send-message {
    width: 25px;
    height: 25px;
    position:absolute;
    margin-top: 5px;
    margin-left: 5px;
}

#text-add-friend {
    /* position: absolute; */
    margin-right: 5px;
    font-weight: bold;
}

#text-send-message {
    position: absolute;
    margin-left: 35px;
    margin-top: 10px;
    font-weight: bold;

}

#text-add-description {
    position: absolute;
    margin-left: 35px;
    margin-top: 10px;
    font-weight: bold;

}

p#text-send-message #text-add-friend {
    font-weight: bold;
}

/* footer {

} */

